@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body,
* {
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: #ffa630;
}

#hero:hover {
  cursor: pointer;
}

#hero h2 {
  margin: 0;
}

#portrait img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

#nav button {
  text-align: center;
  background-color: inherit;
  color: black;
  height: 5vh;
}

#nav button:hover {
  color: rgba(0, 0, 0, 0.5);
}

#nav button.active {
  background-color: #3772ff;
  color: #ffa630;
}

.card,
#bioCard {
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card {
  padding: 10px;
}

.card .thumbnail {
  height: 150px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card .thumbnail i {
  font-size: 62px;
}

.card h5, .card h6 {
  text-align: left;
}

.card h6 {
  font-style: normal;
}

.card p {
  text-align: justify;
}

/*mobile phone*/
@media (min-width: 320px) and (max-width: 480px) {
  #header {
    height: 12vh;
  }
  #hero {
    text-align: center;
    height: 6vh;
  }
  #nav button {
    height: 3.5vh;
    margin-bottom: 2vh;
    margin-top: 0.5vh;
    background-color: #3772ff;
    color: white;
    font-weight: bold;
  }
  #nav button {
    font-size: smaller;
  }
  #content {
    height: 88vh;
    overflow: scroll;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  #framework i {
    opacity: 40%;
  }
}

button {
  border-radius: 10px;
  border: none;
  font-style: none;
}

.bioTable {
  table-layout: fixed;
}

.bioTable,
.bioTable tr,
.exam tr {
  width: 100%;
}

.bioTable {
  word-wrap: break-word;
}

.bioList label,
.bioList progress,
.bioTable th,
.bioTable td,
.exam th,
.exam td,
.alevel th,
.alevel td {
  width: 50%;
}

.alevel td,
.exam td {
  text-align: right;
}

.bioTable th,
.exam th,
.alevel th {
  font-weight: normal;
}

.bioList {
  list-style: none;
  padding: 0;
}

.clickable:hover {
  cursor: pointer;
}

#bioCardHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#bioCardHeader .active {
  background-color: rgba(0, 0, 0, 0.2);
}

#framework {
  overflow-y: visible;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 2vh;
}

#framework i {
  font-size: 32px;
  opacity: 50%;
}

#close {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  margin-top: 5px;
  margin-right: 5px;
}

#chosen {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: white;
}

#instruction {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: smaller;
}

#instruction p {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=App.css.map */