@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
$blue: #3772ff;
$orange: #ffa630;
$tertiary: #e9ecef;

body,
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive;
}
body {
  background-color: lightpink;
}
#main,
#personal {
  background-color: white;
  border-radius: 20px;
}

#header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: $orange;
}
nav * {
  color: black;
}
.container {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

#portrait img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card,
#bioCard {
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card {
  padding: 10px;
}

.card:last-child {
  margin-bottom: 15px;
}

.card .thumbnail {
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card .thumbnail i {
  font-size: 62px;
}

.card h5,
.card h6 {
  text-align: left;
}

.card h6 {
  font-style: normal;
}

.card p {
  text-align: justify;
}

/*mobile phone*/

@media (min-width: 320px) and (max-width: 480px) {
  #header {
    height: 12vh;
  }

  #hero {
    text-align: center;
    height: 6vh;
  }

  #content {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }

  #framework i {
    opacity: 40%;
  }
}

button {
  border-radius: 10px;
  border: none;
  font-style: none;
}

.clickable:hover {
  cursor: pointer;
}

#framework {
  overflow-y: visible;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 2vh;
}

#framework i {
  font-size: 32px;
  opacity: 50%;
}

i.react {
  color: #61dbfb;
}

i.html {
  color: #ffa500;
}

i.python {
  color: #4b8bbe;
}

.progress {
  height: 2rem;
  border-radius: 15px;
  background-color: white;
}

.progress-bar {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

.progress-text {
  justify-content: space-between;
  display: flex;
}

.progress-text span {
  font-size: 1rem;
}

#personal ul {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#personal ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#personal ul li i {
  margin-right: 0.8rem;
  width: 16px;
}

.bg-tertiary {
  background-color: $tertiary;
}

#personal button {
  background-color: $blue;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
}

#personal button a {
  color: white;
}

#personal span {
  border-radius: 20px;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

#personal * {
  color: black;
}

.bg-white {
  background-color: white;
}

.bg-orange {
  background-color: $orange;
}

.bg-orange-lightcontrast {
  background-color: rgba($orange, 0.5);
}

#download i {
  color: white;
  margin-right: 0.8rem;
}

.nav-item {
  margin: 0 1.2rem;
}

.section-header {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.section-header i {
  margin-right: 0.5rem;
}

.year {
  color: grey;
  font-size: 0.9rem;
}
